body {
  margin: 0;
  background: #303030;
  color: white;
}

.title {
  text-align: center;
  margin-top: 100px;
}
.title-sub {
  text-align: center;
}

.navbar { /* 헤더 */
  background: white;
  padding: 20px;
}

.navbar a { /* 헤더 글자들 서로 띄게 */
  margin-right: 10px;
  text-decoration: none;
}

.logo {
  position: relative;
  top: 3px; /* 로고 위치 조정 */
}

.message { 
  text-align: center; /* 글자 가운데 정렬 */
}
