.vercel

# Node.js / Next.js 관련
node_modules/
.next/
out/
.env.local
.env.development.local
.env.test.local
.env.production.local
yarn-error.log
npm-debug.log*

# Python / Flask 관련
venv/
env/
__pycache__/
*.pyc
instance/
.env

# OS 및 기타
.DS_Store
*.log
